results/
feature-magnitude-regularization/__pycache__/
feature-magnitude-regularization/datasets/__pycache__/
feature-magnitude-regularization/models/__pycache__/
feature-magnitude-regularization/tools/__pycache__/
.idea/
resnet50-0676ba61.pth